.form {
  margin: 0 auto;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  padding: 40px 25px;
  box-shadow: 3px 3px 7px 0 rgba(0,0,0, .4);
  flex-direction: column;

  &__error {
    color: red;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 15px;
  }

  &__item {
    margin-bottom: 35px;

    &-inp {
      padding-left: 15px;
      height: 30px;
      font-size: 25px;
      border: 1px solid lightgray;
      border-radius: 4px;
      outline: none;
    }

    &-errors {
      display: flex;
      flex-direction: column;
      color: red;
      font-size: 15px;
      font-style: italic;
    }
  }

  &__submit {
    padding: 10px 50px;
    background-color: #4a76a8;
    color: white;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, .4);
    transition: .3s;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
}
