.rate-item {
  display: flex;
  height: 45px;
  position: relative;

  &__name {
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 15px;
    background-color: plum;
    border: 1px solid blueviolet;
    cursor: pointer;
    z-index: 1;
  }

  &__radio {
    display: none;
  }

  &__radio:checked + .rate-item__add {
    left: 300px;
    opacity: 1;
  }

  &__add {
    position: absolute;
    z-index: 0;
    background-color: lightblue;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 15px;
    height: 100%;
    width: 200px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s;

    &-inp {
      height: 31px;
      border: 1px solid gray;
      font-size: 27px;
      width: 90px;
      padding-left: 10px;
      outline: none;
    }

    &-btn {
      height: 35px;
      outline: none;
      width: 50px;
    }
  }

}
