<label class="rate-item" (click)="onItemClick()">
  <div class="rate-item__name">
    {{ item.name }} <i class="fas fa-angle-double-right"></i>
  </div>

  <input #rateRadio type="radio" name="rate" class="rate-item__radio">

  <div class="rate-item__add">
    <input type="text" #inpPrice class="rate-item__add-inp" (focus)="onPriceFocus()" (blur)="onPriceBlur()" (keydown.enter)="onPriceSave()" [(ngModel)]="price">
    <button class="rate-item__add-btn" (click)="onPriceSave()">ОК</button>
  </div>
</label>
