<div class="header">
  <div class="links">
    <img class="logo" src="../../../assets/logo.png" alt="Logo">

    <div class="links__item" routerLink="budget" routerLinkActive="links__item_active">Приход</div>
    <div class="links__item" routerLink="rate" routerLinkActive="links__item_active">Расход</div>
    <div class="links__item" routerLink="result" routerLinkActive="links__item_active">Итог</div>
    <div class="links__item" routerLink="statistics" routerLinkActive="links__item_active">Статистика</div>
  </div>

  <div class="login" (click)="login()">
    <span class="login__name" *ngIf="isLogin">{{ userName }}</span>
    <i class="fas fa-user login__img"></i>
  </div>

</div>
