.row {
  display: flex;
  border: 1px solid black;
  height: 35px;

  .column {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .price {
      width: 90%;
    }
  }

  .col-1 {
    flex: 1;
  }

  .col-2 {
    flex: 2;
  }
}
