<div class="row">
  <div class="column col-2">{{ item.date | dateTimePipe }}</div>
  <div class="column col-2">{{ item.name }}</div>
  <div *ngIf="isEditState then editTemplate else dataTemplate"></div>
</div>

<ng-template #editTemplate>
  <div class="column col-1">
    <input class="price" type="text" [(ngModel)]="item.price">
  </div>
  <div class="column col-2">
    <button (click)="toggleState()">Сохранить</button>
    <button (click)="deleteItem()">Удалить</button>
  </div>
</ng-template>

<ng-template #dataTemplate>
  <div class="column col-1">{{ item.price }}</div>
  <div class="column col-2">
    <button (click)="toggleState()">Изменить</button>
    <button (click)="deleteItem()">Удалить</button>
  </div>
</ng-template>
