<div class="rates-table">
  <span class="rates-table__title">{{ tableItems.date | monthPipe }}</span>

  <div class="table">
    <div class="table__header">
      <div class="table-column col-2">Дата</div>
      <div class="table-column col-2">Название</div>
      <div class="table-column col-1">Сумма</div>
      <div class="table-column col-2">Действие</div>
    </div>

    <app-table-row [item]="row" (deleteEvent)="onDeleteRate($event)" *ngFor="let row of tableItems.items"></app-table-row>

    <div class="row">
      <div class="column col-5">Итого:</div>
      <div class="column col-2">{{ totalSumm }}</div>
    </div>
  </div>
</div>
