.rates-table {
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px;
  justify-content: center;
  align-items: center;

  &__title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .table {
    border: 1px solid black;
    width: 550px;


    &__header {
      border: 2px solid black;
      background-color: lightgray;
      display: flex;
      height: 45px;

      .table-column {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        height: 100%;
      }
    }

    .row {
      display: flex;
      height: 40px;
      border: 2px solid purple;
    }

    .column {
      border: 1px solid purple;
      display: flex;
      align-items: center;
    }

    .col-5 {
      flex: 5;
      padding-left: 15px;
      box-sizing: border-box;
    }

    .col-1 {
      flex: 1;
    }

    .col-2 {
      flex: 2;
    }
  }
}
