<div class="page">
  <h1 class="page__title">Расходы за <app-month-switch (monthChange)="onMonthChange($event)"></app-month-switch> </h1>

  <div class="content">
    <div class="rate-list">
      <app-rate-item *ngFor="let rate of rateItems" [item]="rate" (payConfirm)="onPayConfirm($event)"></app-rate-item>

      <div *ngIf="isAddState then addTemplate else buttonTemplate"></div>
    </div>

    <app-rates-table (deleteEvent)="onDeleteRate($event)" *ngIf="isHaveRates" [tableItems]="rates"></app-rates-table>
  </div>
</div>


<ng-template #addTemplate>
  <div class="add-button add-button_edit">
    <input class="rate-name" type="text" [(ngModel)]="rateName">
    <button class="btn" (click)="saveRate()">OK</button>
    <button class="btn" (click)="toggleAddState()">Отмена</button>
  </div>
</ng-template>

<ng-template #buttonTemplate>
  <div class="add-button" (click)="toggleAddState()">
    Добавить <i class="fas fa-plus"></i>
  </div>
</ng-template>
