.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
}

.add-button {
  width: 300px;
  height: 45px;
  background-color: #4a76a8;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 20px;
  align-items: center;

  &_edit {
    padding: 0 5px;
    justify-content: flex-start;
  }

  .rate-name {
    height: 31px;
    padding-left: 5px;
    outline: none;
    width: 50%;
    margin-right: 10px;
  }

  .btn {
    height: 35px;
    outline: none;
  }

}


